# Log files
*.log

.idea
teoria
archivosPseudocodigo/
memoria/dump/
archivosPseucodigo/archivo1.txt
archivosPseucodigo/archivo2.txt
archivosPseucodigo/archivo3.txt
archivosPseucodigo/ruta.txt
memoria/swapfile.bin
cpu2
cpu3
cpu4
io2
io3
io4